html{
    font-family:'IM Fell English', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 151.86%;
}

body{
    background-image: url(https://miro.medium.com/max/739/1*wHsM4lnTwnnkszc-depMbA.jpeg);
}

.content{
    margin-left: 150px;
    margin-right: 150px;
}

nav {
    height: 35px;
    margin-top: 80px;
}

nav#mainnav ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav#mainnav li{
    padding: 0;
    margin: 0;
}

nav#mainnav ul li a{
    color: rgba(27, 79, 102, 1);
    display: inline-block;
    text-decoration: none;
    font-family: 'IM Fell English SC', serif;
    font-size: 18px;
}
nav#mainnav ul li a:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    font-size: 19px;
}

nav#mainnav ul li a:active{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    font-size: 19px;
}

