html{
    font-family:'IM Fell English', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 151.86%;
}

body{
    background-image: url(https://i.pinimg.com/originals/8e/8d/68/8e8d68f84806201866e8ad1c8c6bb3d7.png);
}

.content{
    margin-left: 150px;
    margin-right: 150px;
}

nav {
    height: 35px;
    margin-top: 80px;
}

nav#mainnav ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav#mainnav li{
    padding: 0;
    margin: 0;
}

nav#mainnav ul li a{
    color: rgba(27, 79, 102, 1);
    display: inline-block;
    text-decoration: none;
    font-family: 'IM Fell English SC', serif;
    font-size: 18px;
}
nav#mainnav ul li a:hover{
    font-weight: bold;
    font-size: 19px;
}

nav#mainnav ul li a:active{
    font-weight: bold;
    font-size: 19px;
}

.info h1{
    margin-top: 150px;
    color: white;
    font-family: 'IM Fell English SC', serif;
    font-size: 120px;
    font-weight: normal;

}
.box {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 60%;
}
.info p{
    color: rgba(27, 79, 102, 1);

}

